@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@source "./app/**/*.{js,jsx,ts,tsx}";
@source "./components/**/*.{js,jsx,ts,tsx}";
@source "./lib/**/*.{js,jsx,ts,tsx}";
@source "./hooks/**/*.{js,jsx,ts,tsx}";
@source "../../node_modules/@oxyhq/services/lib/**/*.{js,jsx}";
@source "../../node_modules/@oxyhq/bloom/lib/**/*.{js,jsx}";

@theme {
  --font-sans: Inter, sans-serif;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: hsl(0 0% 100%);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
}

@layer base {
  :root {
    --radius: 1rem;
  }
}

@layer utilities {
  .squircle {
    border-radius: 20%;
  }
}
